#sobre {
    background: url(../img/sobreBlack.png) no-repeat bottom #1D223D;
    background-size: contain;
    font-family: 'Fira Sans' sans-serif;
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#sobre .sobre-content {
    border-radius: 20px;
    margin: 100px 20px 67px 0;
    margin-left: 67px;
    max-width: 90%;
    height: auto;
    background-color: var(--dracula-color);
    padding: 10px 30px 0 30px;
    color: white;
}

#sobre .sobre-content header span.tag-one {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 10px 5px 0 0;
    border-radius: 50%;
}

#sobre .sobre-content header span.tag-one:nth-child(1) {
    background-color: #EA190F;
}

#sobre .sobre-content header span.tag-one:nth-child(2) {
    background-color: #F3AA66;
}

#sobre .sobre-content header span.tag-one:nth-child(3) {
    background-color: #0E974D;
}

#sobre .sobre-content header h1 {
    font-size: 1.6rem;
    margin: 15px 20px;
    font-weight: 700;
}

#sobre .sobre-content header span.tag {
    margin-top: 20px;
    font-size: 1.2em;
}

#sobre .sobre-content span.tag {
    display: block;
    color: var(--red-color);
}

#sobre .sobre-content main p {
    margin-left: 10px;
    padding: 3px;
    text-align: justify;
    font-size: 1.1rem;
}

#sobre .sobre-content main span.tag {
    display: block;
    font-weight: 700;
    margin: 4px 0 4px 0;
    font-size: 1.3rem;
}


/* Codigo referente ao slide da pagina*/

.sobre-slide {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
}

.slideshow-container {
    max-width: 400px;
    height: 100%;
    position: relative;
    margin: 60px auto 0 auto;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 15px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media screen and (max-width:960px) {
    #sobre {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        flex-direction: column;
    }
    #sobre .sobre-content {
        margin: 100px 30px;
        max-width: 90%;
        height: auto;
        background-color: var(--dracula-color);
        padding: 10px 30px 0 30px;
        color: white;
    }
}

@media screen and (max-width: 480px) {
    #sobre {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        flex-direction: column;
    }
    #sobre .sobre-content {
        width: 100%;
        height: auto;
        max-width: 70%;
        margin: 20px auto;
        padding: 20px;
    }
    #sobre .sobre-content header h1 {
        margin: 0 20px 0;
    }
    #sobre .sobre-content span.tag {
        display: block;
    }
    #sobre .sobre-content header span.tag:nth-child(1) {
        margin-top: 25px;
    }
    .sobre-slide {
        position: relative;
        width: 100%;
        height: auto;
    }
    .slideshow-container {
        width: 100%;
        height: 100%;
        position: relative;
        margin: 60px auto 0 auto;
    }
    .mySlides img {
        width: 100%;
    }
}